/* ======== dice-roller ======== */
.dice {
    background-color: #242F36;
    width: 100%;
}

.dice-result {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
}

.dice-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.dice-img {
    width: 100%;
    
}

#dice-hidden {
    display: none;
}

.btn {
    background: transparent;
    border: none;
    width: 75px;
    height: 75px;
}
.dice-display {
    background-color: fuchsia;
    border: seagreen dotted 25px;
    width: 200px;
    height: 100px;
    margin: 50px 45%;
    cursor: pointer;
}

.roll-result {
    color: aqua;
    font-size: 100px;
}
.dice-crit {
    color: red;
    font-size: 100px;
}